* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bg-img {
  /* The image used */
  background-image: url("bg.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  /*position: fixed;*/
  float: right;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  float: right;

  /*background-color: #333;*/
}

/* Navbar links */
.topnav a {
  float: left;
  color: #900045;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #031d44;
}

.hero-text p {
  padding-top: 5px;
}

.divider {
  height: 2px;
  background: #031d44;
  margin: 3% 25%;
}

#about {
  background-color: #eaedf2;
  padding: 3% 15%;
  text-align: center;
  color: #031d44;
}

h1 {
  margin-bottom: 3%;
  color: #031d44;
  font-size: 60px;
}

.vr-divider {
  width: 2px;
  background-color: #031d44;
  float: left;
  min-height: 65px;
}

#about-items {
  display: block;
  overflow: auto;
}

#about-hilight {
  padding-right: 20px;

  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
  border-right: 2px solid #031d44;
}

@media (max-width: 700px) {
  #about-hilight {
    border-right: 0px;
    border-bottom: 2px solid #031d44;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

#about-content p {
  text-align: left;
  padding-left: 20px;
  font-size: medium;
  font-weight: 500;
}

#about-content p::first-letter {
  float: left;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}

#about img {
  margin: 40px 0px;
  background-image: url("bg.jpg");
  height: auto;
  width: 100%;
}

#services {
  /* background-color: #eaedf2;*/
  padding: 3% 15%;
  text-align: center;
  color: #031d44;
  display: block;
  overflow: auto;
  align-items: center;
  margin: auto;
}

.service {
  min-width: 200px;
  margin: 30px 10px;
  border: 2px solid #031d44;
  padding: 50px 20px 20px 20px;
  position: relative;
}

.service p {
  font-weight: 600;
  position: relative;
}

/*.service {
	border: 1px solid #357ca3;
	padding: 20px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}*/

.landing-icon {
  font-size: 3em;
  z-index: 1000;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  border: 2px solid #031d44;
  padding: 20px;
  background-color: white;
}

#stats {
  background-color: #031d44;
  padding: 3% 15%;
  text-align: center;
  color: white;
  display: block;
  overflow: auto;
  align-items: center;
  margin: auto;
}

#stats h1 {
  color: white;
  margin-bottom: 50px;
  font-size: 60px;
}

#stats h2 {
  font-size: 30px;
}

.stat {
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
}

#gallery {
  background-color: white;
  padding: 3% 15%;
  text-align: center;
  color: #031d44;
  display: block;
  overflow: auto;
  align-items: center;
}

/*.images img{
    width: 100%;
    height: auto;
}
*/

#team {
  background-color: #031d44;
  padding: 3% 15%;
  text-align: center;
  color: white;
  display: block;
  overflow: auto;
  align-items: center;
  margin: auto;
}

#team h1 {
  color: white;
  margin-bottom: 50px;
  font-size: 60px;
}
/*
.member {
  float: left;
  width: 33%;
}*/

.card {
  font-family: arial;
}

.member-img {
  width: 70%;
  margin-bottom: 30px;
  border-radius: 50%;
}

.boss {
  width: 80%;
  margin-bottom: 30px;
  border-radius: 50%;
}

.card p {
  color: #dee2e8;
}

.member h3 {
  font-size: 30px;
}

.card i {
  text-decoration: none;
  width: 35px;
  height: auto;
  font-size: 22px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 3px;
}

#blog {
  background-color: white;
  padding: 3% 15%;
  text-align: center;
  color: #031d44;
  margin: auto;
}

.news {
  float: left;
  width: 32%;
  /*border: 1px solid #031d44;*/
  background-color: #eaedf2;
  margin: 5px;
}

.news p {
  margin: 20px;
}
.news h4 {
  margin: 20px;
  font-size: 20px;
}

.card1 {
  text-align: left;
  font-family: arial;
}

/*contact {
    background-image: url("hero.jpg");
    padding: 3% 15%;
    text-align: center;
    color: #031d44;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
  }*/

#contact {
  background-image: url("hero.jpg");

  min-height: 600px;
  text-align: center;
  color: white;
  padding: 50px 20%;
  align-items: center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

input,
textarea {
  width: 48%;
  min-width: 100px;
  background: #e4e4e4;
  padding: 10px;
  border: 0px;
  height: 30px;
  border-radius: 3px;
  margin: 2px 2px !important;
}
@media only screen and (max-width: 700px) {
  input {
    width: 100%;
  }
  .service {
    min-width: 200px;
    margin: 40px 10px;
  }
}

#cont-info {
  text-align: left;
  padding: 10%;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  margin-top: 20px;
  font-size: 16px;
  background: #031d44;
  padding: 6px;
  border: 0px;
  color: whitesmoke;
  border-radius: 5px;
  float: left;
  position: relative;
  top: 5px;
}

#contact-cont {
  background-color: rgba(185, 178, 178, 0.71);
  padding: 50px;
}

#cont-info label {
  margin-left: 10px;
}
#cont-info i {
  margin: 5px 0px;
}

#footer {
  margin: 40px;
  font-size: 20px;
}

#footer i {
  margin: 20px 5px;
  border: 1.5px solid white;
  padding: 7px;
  font-size: 20px;
  border-radius: 3px;
}

.blog-img img {
  width: 100%;
}

.blog-img {
  background: #eaedf2;
  padding-bottom: 10px;
  margin: 5px;
}

.blog-news {
  background: #eaedf2;
  padding: 22% 0;
  margin: 5px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: #e2efd6;
    padding: 20px 40px;
  }
}
